services:
  - type: web
    name: clientsvia-backend
    env: node
    plan: starter
    buildCommand: npm ci && npm run test:ci
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - fromGroup: clientsvia-env-group
